/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

@import "bootstrap-sprockets";
@import "bootstrap";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ヘッダーの記述*/

.navbar {
  background-color: #ffe866;
  height: 80px;
}

.nav {
  margin-right: 20px;
  line-height: normal;
}

.navbar-brand {
  width: 200px;
  height: 100px;
  padding: 0 0 0 20px;
}

.logo {
  padding: 0;
}

.navbar-user-name {
  margin: 0 auto;
  display: table;
}


/* registration-new.html.erb */

.sign-field {
  text-align: center;
}

.form {
  margin-top: 20px;
}

/*全体への記述*/

body {
  padding-top: 70px;
  height: 100vh;
  background-image: image-url("swiper-1.jpg");
  background-size: 3%;
  background-color: rgba(255,255,255,0.8);
}

.container {
  background-color: #fff7cc;
  width: 90%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sixing: border-box;
}

.row {
  height: 90%;
}

.profile-image {
  border-radius: 50px;
}

.art-image {
  border-radius: 25px;
  border: 6px solid #fff;
  cursor : pointer;
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.6));
}

.art-image:hover {
  opacity: 0.6;
  filter: none;
}

.art-title {
  font-family:'メイリオ', 'Meiryo', sans-serif;
}

.form-control {
  width: 150px;
}

.topic {
  border-bottom: double 5px #FFF;
}

.title {
  font-family: cursive;
  text-align: center;
  font-size: 35px;
}

.flash {
  margin-top: 10px;
}