/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/*ヘッダーの記述*/

.navbar {
  background-color: #FFB6C1;
  height: 80px;
}

.nav {
  margin-right: 20px;
  line-height: normal;
}

/*全体への記載*/

body {
  padding-top: 70px;
  background-color: #FFE4E1;
}

.container {
  background-color: #FFE4C4;
  margin-top: 20px;
}

.profile-image {
  border-radius: 50px;
}

.art-image {
  border-radius: 25px;
  border: 6px double #fff;
  cursor : pointer;
}

.art-image:hover {
  opacity: 0.6;
}

.form-control {
  width: 100px;
}