// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* top.html.erb */

/* 全体のスタイル */

.top-logo {
  width: 60%;
  height: 200px;
  margin: 0 200px;
}