// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* _template.html.erb */

.profile-container {
  background-color: #ebdcb2;
  width: 100%;
  height: 100vh;
  font-family: cursive;
  text-align: center;
  border-left: 6px double #b38540;
  border-right: 6px double #b38540;
}

.profile-image-window {
  height: 130px;
  width: 100%;
}

.user-info {
  float: left;
  margin-left: 10px;
}

.introduction {
  width: 80%;
  height: 80px;
  border-radius: 25px;
  border: 2px solid #CC6600;
  background-color: #ddc5a2;
  margin: 0 auto 10px auto;
  text-align: center;
}

.introduction p {
  overflow-wrap: break-word;
}

.profile-image {
  float: left;
  margin: 15px;
  border: 2px solid #CC6600;
}


#calendar {
  background-color: #fff;
  margin-top: 20px;
}

.fc-sun, .fc-sat {
 background-color: #FFB6C1;
}

.fc-time {
  display: none;
}


/* index.html.erb */
.user-index {
  margin: 10px auto;
  height: 100%;
  border-bottom: 2px solid #CC6600;
  width: 50%;
}

.user-index-name {
  line-height: 110px;
  color: black;
}


/* show.html.erb */
.user-art {
  text-align: center;
}

.topic {
  font-family: cursive;
}

.user-exhibition-title {
  padding-left: 10px;
}

.exhibition-link {
line-height: normal;
}

.exhibition-link-btn {
  display: inline-block;
}

/* edit.html.erb */

.edit-user-form {
  width: 60%;
  height: 100%;
  padding: 10px;
  margin: 20px auto;
  background-color: #fff;
  border: 2px solid #000000;
  border-radius: 25px;
  text-align: center;
  font-family: cursive;
}

.edit-image {
  margin: 0 auto;
}

/* confirm.html.erb */

.confirm-container {
  margin: 50px auto;
  width: 80%;
  height: 100%;
  background-color: #fff;
  border: 2px solid #000000;
  border-radius: 25px;
  text-align: center;
}