<div class="container">
  <div class="row">
    <div class="exhibition-container">
      <h4 class="title">Exhibitions</h4>
      <% @exhibition_counter = [] %>
      <table class="exhibition-index">
        <thead>
          <tr>
            <th>Title</th>
            <th>Detail</th>
            <th>Presenter</th>
            <th></th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
          <% @exhibitions.each do |exhibition| %>
            <% if (exhibition.start_date..exhibition.end_date).cover?(DateTime.now.in_time_zone('Tokyo')) %>
              <% @exhibition_counter.push(1) %>
              <tr>
                <td><h6><%= link_to exhibition.title, exhibition_path(exhibition) %></h6></td>
                <td><%= exhibition.detail %></td>
                <td><%= exhibition.user.name %></td>
                <td>
                  <% if user_signed_in? && exhibition.user == current_user %>
                    <%= link_to 'Delete Exhibition', exhibition_path(exhibition), method: :delete,"data-confirm" => "本当に削除しますか？", class: 'btn btn-default' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <% if @exhibition_counter == [] %>
        <p>開催中の展覧会はありません</p>
      <% end %>
    </div>
  </div>
</div>
