<div class="container">
  <div class="row">
    <% @exhibitions.each do |exhibition| %>
      <% if (exhibition.start_date..exhibition.end_date).cover?(DateTime.now.in_time_zone('Tokyo')) %>
        <h6><%= link_to exhibition.title, exhibition_path(exhibition) %><%= exhibition.detail %>presented by <%= exhibition.user.name %></h6>
        <% if user_signed_in? && exhibition.user == current_user %>
          <%= link_to '削除する', exhibition_path(exhibition), method: :delete,"data-confirm" => "本当に削除しますか？", class: 'btn btn-default' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
