<div class="container">
  <div class="row">
    <div class="about-header">
      <%= image_tag 'wart-logo-6.png', alt: 'LOGO', size: '400*200', class: 'about-logo' %>
      <h3 class="about-title">What's Wart?</h3>
    </div>
  </div>
  <div class="row">
    <div class="navgation">
      <div class="col-xs-6 nav-title">
        <p>このサイトについて</p>
      </div>
      <div class="col-xs-6">
        <div class="nav-text">
          <p>このサイトはイラストが好きな人のための投稿サイトです。</p><br>
          <p>自分の描いたイラストを投稿したり、他の人が描いたイラストを見ることができます。</p><br>
          <p>サイトに登録するといいねやコメントはもちろん、個人の展覧会を開くことができます。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="concept">
      <div class="col-xs-6">
        <div class="concept-text">
          <p>落ち着いてイラスト鑑賞を行えるように控えめな配色にしました。</p><br>
          <p>コメントを通して交流していただければと思います。</p><br>
          <p>様々なイラストと出会ってください。</p><br>
        </div>
      </div>
      <div class="col-xs-6 concept-title">
        <p>コンセプト紹介</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="about-exhibition">
      <div class="col-xs-6 about-exhibition-title">
        <p>展覧会について</p>
      </div>
      <div class="col-xs-6">
        <div class="about-exhibition-text">
          <p>このサイトではオンラインで展覧会を開くことができます。</p><br>
          <p>展覧会は最大で5日間開催することができます。</p><br>
          <p>開催中の展覧会は<%= link_to 'こちら', exhibitions_path %>から確認することができます。</p>
        </div>
      </div>
    </div>
  </div>
</div>