<div class="container">
  <div class="row">
    <div class="about-header">
      <%= image_tag 'wart-logo-6.png', alt: 'LOGO', size: '400*200', class: 'about-logo' %>
      <h3 class="about-title">What's Wart?</h3>
    </div>
  </div>
  <div class="row">
    <div class="navgation"></div>
  </div>
  <div class="row">
    <div class="concept"></div>
  </div>
  <div class="about-exhibition"></div>
</div>