<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="arts-container">
      <% @arts.each do |art| %>
        <%= attachment_image_tag art, :image, :fill, 200, 200, format: 'jpeg' %><br>
        <h5><%= link_to art.title, art_path(art) %></h5>
        <h6><%= art.likes.count %>いいね</h6>
      <% end %>
    </div>
  </div>
</div>